<div class="ui centered card">
  <div class="image">
    <img src="{{appInfo.image}}">
  </div>
  <div class="content">
    <a class="header">{{appInfo.fullname}}</a>
    <div class="meta">
      <span class="date">Joined in {{appInfo.joined}}</span>
    </div>
    <div class="description">
        {{appInfo.name}} is a {{appInfo.job}} living in {{appInfo.city}}.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        {{appInfo.mates}} contacts
    </a>
  </div>
</div>
